a {
  color: white;
}

a:hover {
  color: #bd93d8;
}

ul {
  margin: 15px 45px 10px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  font-size: 30px;
  list-style-type: none;
}

li {
  margin: 0 5px;
}
