.headerContainer {
  background-color: #69359c;
  /* text-align: center; */
  /* padding: 10px; */
  height: 50px;
  width: 100%;

  position: fixed;
  top: 0;
}

.headerMaxWidthContainer {
  margin: auto;
  max-width: 960;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

h2 a {
  text-decoration: none;
  color: white;
}

h2 a:hover {
  color: #bd93d8;
}

.headerH1 {
  margin: 10px;
}
